html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* IF BODY OVERFLOWS AGAIN USE THIS

html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
*/




/* Style begins below */



/*
================================
HEADER
================================
*/

body {
  background-color: rgba(0, 15, 40, 1);
  font-family: "Lato";
  font-weight: 300;
}

.header-wrap {
	display: inline-block;
	text-align: center;
	width: 100%;
	position: relative;
}


.header-background {

	position: relative;
	z-index: 1;
	background: url('../images/hero-bg.jpg') center center;
	background-size: cover;
	height: 520px;
	filter: brightness(.65) blur(1.3px);

}

header {
	width: 100%;
	position: absolute;
  height:500px;
	z-index: 2;

}
.primary-nav {
	width: 115px;
	background-color: rgba(0,0,30,.45);
	border-left: solid rgba(235,240,255,1) 2px;
  float:right;
	text-align: left;
  margin: 30px 40px 20px 0px;
	padding: 8px 8px 8px 0px;
}

nav li {
	margin: 4px 4px 4px 0px;
}


	nav li{
		display:inline-block;
	}




nav a {

  display: inline-block;
	margin-bottom: 10px;
  margin-left: 10px;
  text-align: right;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  color: rgba(235,240,255,1);
  text-decoration: none;
}

nav a:last-child {
	margin-bottom: 2px;
}

a:hover{
  color:gray;
  text-decoration: none;
  cursor: pointer;
}

h1 {
	width: 100%;
  text-align: center;
  color: rgba(235,240,255,1);
  font: 300 60px "Lato";
  letter-spacing: 0.05em;
  padding: 30px 0px 30px 0px;
  clear:both;
}


.kicker {
  text-align: center;
  color: rgba(235,240,255,1);
  font: 300 30px "Lato";
  letter-spacing: 0.05em;
	padding: 10px 0px 10px 0px;
}

.upperlowercase{
  font-size: 60px;
  text-transform: uppercase;
}

h1 span.border {
	background: rgba(0,0,30,.45);
  display: inline-block;
  padding: .3em .5em;
  border: rgba(235,240,255,1) solid 10px;
}




/*
================================
 SECTION 2
================================
 */

.section2 {
	width: 100%;
	height: flex;
	background: rgba(235,240,255,1);

}



.section2-title {
	color: rgba(0, 15, 40, 1);
	text-align: center;
	padding: 30px 0px 10px 0px;
	font: 300 30px "Lato";
}

.s2border {
  display: inline-block;
  padding: .3em .5em;
  border: rgba(0, 15, 40, 1) solid 5px;
}


.section2-bio {

	background-image: radial-gradient(ellipse farthest-corner at center top, #000F20 0%, #001E75 100%);
	width:100%;
	height: auto;
	padding: 20px 20px 20px 20px;
	clear: both;
	text-align: center;
	display: inline-block;
}

.section2-bio p {
	display: inline-block;
	//text-align: left;
	color: white;
	font: 300 22px "Lato";
	//width: 700px;
	padding: 20px;
	//margin-left: 60px;
}

.container-fluid {
	width: 100%;
	padding: 0;
}

.row {
	width: 100%;
	margin: 0 auto;
}

.mypic {
	display: inline-block;
	height: 200px;
	border: 5px solid rgba(235,240,255,1);
	border-radius: 50%;
	//box-shadow: 0px 2px 2px 1px rgba(0, 15, 40, 0.5);
	justify-content: center;
	top: 50%;
	margin-top: 20px;

}

.arrow {
	display: inline-block;
	height: 15px;
	width: 15px;
	border: 0;
	border-right: 3px solid lightgreen;
	border-top: 3px solid lightgreen;
	transform: translateY(0px) rotate(135deg);
}
/*
================================
SECTION 2 CARDS
================================
*/
.card-section {
	position: relative;
	display: flex;
	height:100%;
	width: 100%;
	top: 0;
	left: 0;
}

.col-centered{
    float: none;
    margin-left: auto;
		margin-right: auto;
}


.section-card {
	width:100%;
	float: none;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	clear:both;
	position: relative;
	z-index: 2;

}

.row-centered {
	padding: 30px 0px 30px 0px;
	float: none;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	width: 100%;
}

.cardrow {
  display: block;
	padding:10px 0px 10px 0px;
	width: 100%;
	margin: 0 auto;
	clear: both;

}

.card {
	display: inline-block;
	height: 400px;
	width: 250px;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px;
	border: 1px solid rgba(0, 15, 40, .2);
	border-radius: 2px;
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.8);
	float: none;
	background-color: rgba(235,240,255,1);
	transition: all 0.35s ease;
	position: relative;
}

.card-text {

	font-weight: 300;
	display: inline-block;
	margin: 85px 10px 20px 10px;
	text-align: left;

}

.first-list{
	display: inline-block;
	color: rgba(0, 15, 100, 1);
	font-weight: 700;
	//text-decoration: underline;
	margin-top: 7px;
	margin-bottom: 5px;
	margin-right: auto;
	font-size: 15px;
	border-left: none;
}

dd {
	font-weight: 400;
	color: rgba(0, 15, 40, .7);
	text-align: left;
	font-size: 15px;
	display: list-item;
	list-style: square;
	margin-bottom: 2px;
	margin-left: 20px;
}

#agios-title {
	letter-spacing: -0.05em;
}

#amnh-title {
	letter-spacing: -0.07em;
}
/*
================================
CARD DOTS
================================
*/


.card-dots {
	display: inline-block;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.dot1{

  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ADB5BD;
	//border: 1px solid rgba(0, 15, 40, .7);
	//box-shadow: inset 1px 1px 3px 0px rgba(0, 15, 40, .4);
	top:350px;
}
.dot2{

  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ADB5BD;
	//border: 1px solid rgba(0, 15, 40, .7);
	//box-shadow: inset 1px 1px 3px 0px rgba(0, 15, 40, .4);
	top:350px;
	right:20px;
}
.dot3{
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ADB5BD;
	//border: 1px solid rgba(0, 15, 40, .7);
	//box-shadow: inset 1px 1px 3px 0px rgba(0, 15, 40, .4);
	top:350px;
	left:20px;
}

/*
================================
CARD FUNCTIONALITY
================================
*/
.center-card {
	display: inline-block;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.card-inner {
	display: inline-block;

	//vertical-align: middle;
	text-align: center;
}

.card-overlay {
	top:0;
	bottom: 0;
	left:0;
	right:0;
	background-color: inherit;

}

.overlay-inner {
	position: absolute;
	//display: inline-block;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	background-color: inherit;
	opacity: 0;
}

.card:hover {
	transform: scale(1.06);
	box-shadow: 0px 12px 26px 3px rgba(0, 15, 40, .8);
	cursor: pointer;
}

.card-switch {
	opacity: 1;
	transition: all 1.0s ease;

}



.bgfade {
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
	height:100%;
	width: 100%;
	opacity: 0;
}

.background-switch1 {
	background: url("../images/bcpic.jpg") center center;
	background-size: cover;
	opacity: .45;
	transition: opacity 1.0s ease;
	filter: blur(0px);
}
.background-switch2 {
	background: url("../images/agiospic.jpg") center center;
	background-size: cover;
	opacity: .45;
	transition: opacity 1.0s ease;
	filter: blur(0px);
}
.background-switch3 {
	background:url("../images/amnhpic.jpg") center center;
	background-size: cover;
	opacity: .45;
	transition: opacity 1.0s ease;
	filter: blur(1px);
}
.background-switch4 {
	background: url("../images/codepic.jpg") center center;
	background-size: cover;
	opacity: .45;
	transition: opacity 1.0s ease;
	filter: blur(3px);
}
/*.card:hover .overlay-inner {
	opacity: 1;
	transition: all 1.0s ease;
}*/



/*
================================
CARD LOGOS
================================
*/
.card-title {
	color: rgba(0, 15, 40, 1);
	letter-spacing: 0.03em;
	font-size: 22px;
	font-weight: 300;
	margin: 20px 20px 20px 20px;
	padding: 8px 8px;
	display: inline-block;
	border-bottom: 1px solid rgba(0, 15, 40, .2);
}

.card-image {
	display: inline-block;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.bclogo {
	box-shadow: 0px 7px 15px -2px rgba(0, 15, 40, .5);
	border-radius: 50%;
	height: 170px;
}

.agioslogo {
	padding: 3px;
	height: 77px;
	width: 225px;
	box-shadow: 0px 5px 28px -7px rgba(0, 15, 40, .5);
	border: 3px solid rgba(5, 140, 194, 1);
}

.amnhlogo {
	height: 210px;
}

.pcpic {
	background-color: rgb(11, 37, 79);
	width: 170px;
	height: 130px;
	border: 14px solid rgb(176, 179, 183);
	box-shadow: 0px 0px 2px -1px rgba(0, 15, 40, .8);
}

.pcpictext {
	color: rgb(51, 206, 30);
	font-size: 17px;
	padding-top: 26px;
	display: inline-block;
}

.neck {
	margin-top: 115px;
	height: 12px;
	width: 90px;
	background-color: rgb(176, 179, 183);
	box-shadow: inset 0px 0px 2px -1px rgba(0, 15, 40, .8);
}

.keyboard {
	margin-top:126px;
	height: 15px;
	width: 140px;
	background-color: rgb(176, 179, 183);
	box-shadow: 0px 0px 2px -1px rgba(0, 15, 40, .8);
}

#resume-button{
	display: inline-flex;
	border: 2px solid rgba(0, 15, 40, .8);
	border-radius: 10px;
	//justify-content: center;
	//top: 50%;
	padding: 4px 10px;
	height: 38px;
	background-color: rgb(138, 145, 248);
	margin-bottom: 20px;
	color: black;
}

#resume-button:hover{
	transform: scale(1.05);
	box-shadow: 0px 6px 15px 0px rgba(0, 15, 40, .5);
	transition: 0.4s;
	cursor: pointer;
}

.resume-outline{
	height: 40px;
	width: 33px;
	border: 2px solid rgba(0, 15, 40, .8) ;
	border-top-left-radius: 20% ;
	//background-color: rgba(235,240,255,1);
	margin: 0 auto;
	background-color: rgb(200, 236, 255);
}

.resume-line-1{
	height: 2px;
	width: 17px;
	background-color: rgba(0, 15, 40, .8);
	margin-right: auto;
	margin-left: 0;
	margin-top: 8px;
}

.resume-line-2{
	height: 2px;
	width: 24px;
	background-color: rgba(0, 15, 40, .8);
	margin-right: auto;
	margin-left: 0;
	margin-top: 4px;
}

.resume-line-3{
	height: 2px;
	width: 24px;
	background-color: rgba(0, 15, 40, .8);
	margin-right: auto;
	margin-left: 0;
	margin-top: 4px;
}

.resume-line-4{
	height: 2px;
	width: 24px;
	background-color: rgba(0, 15, 40, .8);
	margin-right: auto;
	margin-left: 0;
	margin-top: 4px;
}

.resume-text {
	font-size: 24px;
	text-transform: uppercase;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
}
/*
================================
PORTFOLIO SECTION
================================
*/

#portfolio-section {
	/* min-height: 500px; */
	height: auto;
	background: rgba(235,240,255,1);
	text-align: center;
	padding: 10px 0px 60px 0px;
}

.portfolio-container{
	padding-top: 10px;
	margin: 20px 0px 20px 0px;
	height: auto;
}

.portfolio-item {
	display: inline-block;
	float: none;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
	vertical-align: top;
	height: auto;
	width: 400px;

}

.portfolio-item p {
	font-size: 19px;
	color: rgba(0,15,40,1);
	padding: 10px 10px 10px 10px;
}

.port-pic {
	width: 100%;
	max-width: 400px;
	height: 250px;
	min-height: 222px;
	box-shadow: 0px 0px 15px -2px black;
	transition: all 0.35s ease;
	background-repeat: none;
	background-size: cover;
	background-position: center;
}

.port-pic:hover {
	transform: scale(1.05);
	box-shadow: 0px 6px 25px 0px rgba(0, 15, 40, .8);
	cursor: pointer;
}

.file1{
	background-image: url("../images/perkkafeimg.png");
}

.file2{
	background-image: url("../images/shleepy.png");
}

.file3{
	background-image: url("../images/topstreams.png");
}

.file4{
	background-image: url("../images/recipeproject.png");
}



/*
================================
CONTACT SECTION
================================
*/

.contact {
	width: 100%;
	height: flex;
	background-image: radial-gradient(ellipse farthest-corner at left bottom, #96C1F2 -30%, #202C36 90%);
}


.section3-title {
	color: rgba(235,240,255,1);
	text-align: center;
	padding: 30px 0px 10px 0px;
	font: 300 30px "Lato";
}

.s3border {
	  display: inline-block;
	  padding: .3em .5em;
	  border: 5px solid rgba(235,240,255,1) ;
}



/*
================================
FOOTER
================================
*/

footer {
	background: rgba(0, 15, 40, 1);
	background-image: linear-gradient(to right, #002F7D 0%, #000F28 100%);
	height: 120px;
	//border-top: 1px solid rgba(235,240,255,1);
}

.content-wrap {
margin: 10px;
float: right;
clear: both;
}

.lockup {
	clear:both;
}

.section4-title {
	color: rgba(235,240,255,1);
	text-align: center;
	padding: 0px 0px 0px 0px;
	font: 300 25px "Lato";
}

.copyright {
	color: rgba(255,255,255,0.4);
	margin: 0px 20px 10px 0px;
	padding: 8px 8px 8px 0px;

	text-align: right;
	font: small-caps 200 13px "Lato";
}

.contact-nav {
	text-align: center;
	margin: 20px 0px 20px 0px;
}

input {
	margin: 10px;
}

input.btn {
	margin: 0px;
}


.footer-nav {
	display: inline-block;
	border-left: solid rgba(235,240,255,1) 2px;
	margin: 12px 20px 0px 0px;
	padding: 6px 8px 6px 0px;

}

.visitor-form {
	text-align: center;
}

.footer-links{
	height:70px;
	width:auto;

}

.footer-links:hover {
	transform:scale(1.03);
	transition: 0.3s ease;
	filter: brightness(.5);
}

form {
	display: inline-block;
	font: 500 16px "Lato";
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

/*
.visitor-form {

	display: inline-block;
	margin-left: 40em;
	margin-right: 40em;
	text-align: center;
}

.visitor-name {
	display: inline-block;

	width:12em;
}

.visitor-comment {
	width: 20em;
}*/

input {
	padding: 8px 10px;

}

textarea {
	width: 30%;
	padding:200px:
}
/*
================================
MEDIA
================================
*/

@media (max-width: 1245px) and (min-width: 1166px){
	.card{
		margin:20px 10px;
	}
}


@media only screen and (max-width: 450px){

	.primary-nav {
		width: auto;
		background-color: rgba(0,0,30,.45);
		border-left: solid white 2px;
		justify-content: center;
		text-align: left;
	  margin: 20px 20px 20px 20px;
		padding: 4px 4px 4px 4px;

		}

	.section2-bio p {
			font-size: 20px;
	}

	nav a {
		font-size: 15px;
	}

	.section-card{
		width: 320px;
	}

	.port-pic{
		max-width: 300px;
		margin: 0 auto;
	}

	.portfolio-item{
		max-width: 300px;
		text-align: left;
	}

}

@media only screen and (max-width: 321px){

	nav a {
		font-size: 12px;
	}

	h1 {
		font-size: 24px;
	}

	.section-card{
		width: 300px;
	}

	h1 span.border {
		background: rgba(0,0,30,.45);
	  display: inline-block;
	  padding: 7px 10px;
	  border: white solid 10px;
	}

	.kicker {
		padding: 12px;
	}

}

/*@media only screen and (max-width: 1165px){
	.section-card{
		width: 800px;
	}

}
